<div class="modal fade" id="publishMsgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/publishMessage" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">PUBLISH MESSAGE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" role="alert">
            Please input <strong>MESSAGE</strong>
          </div>
          <div class="input-group-text">
            <span>MESSAGE CONTENT</span>：
            <input id="msg_content" type="text" name="msgContent"/>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="topicId" th:value="${topicId}"/>
            <button id="publish-meg-btn" type="submit" class="btn btn-warning">PUBLISH</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>