<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

  <title>Spring Integration GCP sample</title>

</head>
<style>
body {
  background-color: linen;
}

.s-btn {
  margin-left: 20px;
}


</style>
<body>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">MESG DETAIL OF <span th:text="${topicId}"></span></h1>
    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#publishMsgModal">PUBLISH MESSAGE</button>
    <div th:replace="modal/publishMsg"></div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-5">
      <h2>LATESAT 100 MESSAGES</h2>

      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">CONTENT</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mesg, row : ${mesgs}">
          <td th:text="${row.count}"></td>
          <td th:text="${mesg.msgId}"></td>
          <td th:text="${mesg.msgContent}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
    </div>
  </div>

  <hr>

</div> <!-- /container -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
