<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mericari.merpay.pubsub.mapper.PublisherMapper">
  <select id="selectAllPublisher" resultType="com.mericari.merpay.pubsub.dto.Publisher">
    SELECT
    pub_id as pubId,
    pub_name as pubName
    FROM
    publisher
  </select>


  <select id="selectAllSubscriber" resultType="com.mericari.merpay.pubsub.dto.Subscriber">
    SELECT
    sub_id as subId,
    sub_name as subName
    FROM
    subscriber
  </select>

  <select id="selectTopic" resultType="com.mericari.merpay.pubsub.dto.Topic">
    SELECT
    topic_id as topicId,
    topic_name as topicName
    FROM
    topic
    WHERE
    pub_id=#{pubId}
  </select>

  <insert id="registerTopic" parameterType="com.mericari.merpay.pubsub.dto.Topic">
    INSERT INTO
    topic(
    pub_id,
    topic_name
    )
    VALUES (
    #{pubId},
    #{topicName}
    )
  </insert>

  <select id="selectMesg" resultType="com.mericari.merpay.pubsub.dto.Mesg">
    SELECT
    msg_id as msgId,
    msg_content as msgContent
    FROM
    message
    WHERE
    topic_id=#{topicId}
  </select>


  <insert id="publishMessage" parameterType="com.mericari.merpay.pubsub.dto.Mesg">
    <selectKey keyProperty="msgId" order="BEFORE" resultType="int">
      SELECT CAST(nextval('message_id_seq') as INTEGER)
    </selectKey>

    INSERT INTO
    message(
    msg_id,
    topic_id,
    msg_content
    )
    VALUES (
    #{msgId},
    #{topicId},
    #{msgContent}
    );


    INSERT INTO
    subscriber_msg (
    sub_id,
    msg_id)
    VALUES(
    SELECT
    sub_id,
    #{msgId}
    FROM
    subscriber_topic
    WHERE
    topic_id=#{topicId}
    )
    ;




  </insert>
</mapper>