<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mericari.merpay.pubsub.mapper.PublisherMapper">
  <select id="selectAll" resultType="com.mericari.merpay.pubsub.dto.Publisher">
    SELECT
    pub_id as pubId,
    pub_name as pubName
    FROM
    publisher
  </select>

  <select id="selectTopic" resultType="com.mericari.merpay.pubsub.dto.Topic">
    SELECT
    topic_id as topicId,
    topic_name as topicName
    FROM
    topic
    WHERE
    pub_id=#{pubId}
  </select>

  <insert id="registerTopic" parameterType="com.mericari.merpay.pubsub.dto.Topic">
    INSERT INTO
    topic(
    pub_id,
    topic_name
    )
    VALUES (
    #{pubId},
    #{topicName}
    )
  </insert>

  <select id="selectMesg" resultType="com.mericari.merpay.pubsub.dto.Mesg">
    SELECT
    msg_id as msgId,
    msg_content as msgContent
    FROM
    message
    WHERE
    topic_id=#{topicId}
  </select>


  <insert id="publishMessage" parameterType="com.mericari.merpay.pubsub.dto.Mesg">
    <selectKey keyProperty="new_msgId" order="BEFORE" resultType="java.lang.Integer">
      SELECT select nextval('message_id_seq')
    </selectKey>

    INSERT INTO
    message(
    msg_id,
    topic_id,
    msg_content
    )
    VALUES (
    #{new_msgId},
    #{topicId},
    #{msgContent}
    )


  </insert>
</mapper>