<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mericari.merpay.pubsub.mapper.SubscriberMapper">
  <select id="selectSubscriptionTopic" resultType="com.mericari.merpay.pubsub.dto.Topic">
    SELECT
    topic.topic_name as topicName
    FROM
    topic
    LEFT JOIN
    subscriber_topic
    ON subscriber_topic.topic_name=topic.topic_name
    WHERE
    sub_name=#{subName}
  </select>

  <select id="selectSubscriptionMesgs" resultType="com.mericari.merpay.pubsub.dto.Mesg">
    SELECT
    message.msg_id as msgId,
    message.topic_name as topicName,
    message.msg_content as msgContent
    FROM
    message
    LEFT JOIN
    subscriber_msg
    ON subscriber_msg.msg_id=message.msg_id
    WHERE
    sub_name=#{subName}
    AND
    acked=False
    order by
    message.msg_id ASC
    limit 1
  </select>

  <insert id="subscribeTopic" parameterType="com.mericari.merpay.pubsub.dto.Topic">
    INSERT INTO
    subscriber_topic(
    sub_name,
    topic_name
    )
    VALUES (
    #{subName},
    #{topicName}
    )
  </insert>

  <update id="acknowledge">
    UPDATE
    subscriber_msg
    SET
    acked=True
    WHERE
    msg_id=#{msgId}
    AND
    sub_name=#{subName}
  </update>
</mapper>